<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <%= stylesheet_link_tag 'small', :media => "only screen and (max-device-width: 480px)" %>
    <%= stylesheet_link_tag 'application', :media => "screen and (min-device-width: 481px)" %>
    <title>Nerd news</title>
    <%- if iphone_request? -%>
    <meta name="viewport" content="width=device-width">
    <%- end -%>
  </head>
  <body>
    <div id="site_title">
      <h1>Nerd news</h1>
      <h2>
        <%- @preferred_feeds.each do |feed_name, setting| -%>
          <%- if setting == 1 -%>
            <%= link_to(feed_name.humanize, {:action => :toggle_pref, :id => feed_name}) %>&nbsp;
          <%- else -%>
            <del>
              <%= link_to(feed_name.humanize, {:action => :toggle_pref, :id => feed_name}) %>
            </del>
            &nbsp;
          <%- end -%>
        <%- end -%>
        </h2>
    </div>
  <%= yield %>
  </body>
</html>
